html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-none {
  float: none;
}

.block {
  display: block;
}

.nowrap {
  overflow: hidden;
}

.clearfix {
  zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

.bold, strong {
  font-weight: bold;
}

.ellipsis {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.italic, em {
  font-style: italic;
}

.lh1 {
  line-height: 1 !important;
}

.muted {
  color: #999999;
}

.small, figcaption, footer {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-centered {
  text-align: center;
}

.underlined {
  text-decoration: underline;
}

.uppercase {
  text-transform: uppercase;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
img.native-width {
  width: auto;
}

.show-on-mobile,
.show-on-mobile-tablet,
.show-on-tablet,
.show-on-tablet-desktop,
.show-on-desktop {
  display: none !important;
}

@media screen and (max-width: 768px) {
  .show-on-mobile {
    display: inherit !important;
  }

  .hide-on-mobile {
    display: none !important;
  }
}
@media screen and (max-width: 769px) {
  .show-on-mobile-tablet {
    display: inherit !important;
  }

  .hide-on-mobile-tablet {
    display: none !important;
  }
}
@media screen and (min-width: 769px) and (max-width: 769px) {
  .show-on-tablet {
    display: inherit !important;
  }

  .hide-on-tablet {
    display: none !important;
  }
}
@media screen and (min-width: 769px) {
  .show-on-tablet-desktop {
    display: inherit !important;
  }

  .hide-on-tablet-desktop {
    display: none !important;
  }
}
@media screen and (min-width: 770px) {
  .show-on-desktop {
    display: inherit !important;
  }

  .hide-on-desktop {
    display: none !important;
  }
}
.ml0 {
  margin-left: 0px !important;
}

.mr0 {
  margin-right: 0px !important;
}

.mt0 {
  margin-top: 0px !important;
}

.mb0 {
  margin-bottom: 0px !important;
}

.ml1 {
  margin-left: 4.5px !important;
}

.mr1 {
  margin-right: 4.5px !important;
}

.mt1 {
  margin-top: 4.5px !important;
}

.mb1 {
  margin-bottom: 4.5px !important;
}

.ml2 {
  margin-left: 9px !important;
}

.mr2 {
  margin-right: 9px !important;
}

.mt2 {
  margin-top: 9px !important;
}

.mb2 {
  margin-bottom: 9px !important;
}

.ml3 {
  margin-left: 13.5px !important;
}

.mr3 {
  margin-right: 13.5px !important;
}

.mt3 {
  margin-top: 13.5px !important;
}

.mb3 {
  margin-bottom: 13.5px !important;
}

.ml4 {
  margin-left: 18px !important;
}

.mr4 {
  margin-right: 18px !important;
}

.mt4 {
  margin-top: 18px !important;
}

.mb4 {
  margin-bottom: 18px !important;
}

.ml5 {
  margin-left: 22.5px !important;
}

.mr5 {
  margin-right: 22.5px !important;
}

.mt5 {
  margin-top: 22.5px !important;
}

.mb5 {
  margin-bottom: 22.5px !important;
}

.ml6 {
  margin-left: 27px !important;
}

.mr6 {
  margin-right: 27px !important;
}

.mt6 {
  margin-top: 27px !important;
}

.mb6 {
  margin-bottom: 27px !important;
}

.ml7 {
  margin-left: 31.5px !important;
}

.mr7 {
  margin-right: 31.5px !important;
}

.mt7 {
  margin-top: 31.5px !important;
}

.mb7 {
  margin-bottom: 31.5px !important;
}

.ml8 {
  margin-left: 36px !important;
}

.mr8 {
  margin-right: 36px !important;
}

.mt8 {
  margin-top: 36px !important;
}

.mb8 {
  margin-bottom: 36px !important;
}

.ml9 {
  margin-left: 40.5px !important;
}

.mr9 {
  margin-right: 40.5px !important;
}

.mt9 {
  margin-top: 40.5px !important;
}

.mb9 {
  margin-bottom: 40.5px !important;
}

.ml10 {
  margin-left: 45px !important;
}

.mr10 {
  margin-right: 45px !important;
}

.mt10 {
  margin-top: 45px !important;
}

.mb10 {
  margin-bottom: 45px !important;
}

.pl0 {
  padding-left: 0px !important;
}

.pr0 {
  padding-right: 0px !important;
}

.pt0 {
  padding-top: 0px !important;
}

.pb0 {
  padding-bottom: 0px !important;
}

.pl1 {
  padding-left: 4.5px !important;
}

.pr1 {
  padding-right: 4.5px !important;
}

.pt1 {
  padding-top: 4.5px !important;
}

.pb1 {
  padding-bottom: 4.5px !important;
}

.pl2 {
  padding-left: 9px !important;
}

.pr2 {
  padding-right: 9px !important;
}

.pt2 {
  padding-top: 9px !important;
}

.pb2 {
  padding-bottom: 9px !important;
}

.pl3 {
  padding-left: 13.5px !important;
}

.pr3 {
  padding-right: 13.5px !important;
}

.pt3 {
  padding-top: 13.5px !important;
}

.pb3 {
  padding-bottom: 13.5px !important;
}

.pl4 {
  padding-left: 18px !important;
}

.pr4 {
  padding-right: 18px !important;
}

.pt4 {
  padding-top: 18px !important;
}

.pb4 {
  padding-bottom: 18px !important;
}

.pl5 {
  padding-left: 22.5px !important;
}

.pr5 {
  padding-right: 22.5px !important;
}

.pt5 {
  padding-top: 22.5px !important;
}

.pb5 {
  padding-bottom: 22.5px !important;
}

.pl6 {
  padding-left: 27px !important;
}

.pr6 {
  padding-right: 27px !important;
}

.pt6 {
  padding-top: 27px !important;
}

.pb6 {
  padding-bottom: 27px !important;
}

.pl7 {
  padding-left: 31.5px !important;
}

.pr7 {
  padding-right: 31.5px !important;
}

.pt7 {
  padding-top: 31.5px !important;
}

.pb7 {
  padding-bottom: 31.5px !important;
}

.pl8 {
  padding-left: 36px !important;
}

.pr8 {
  padding-right: 36px !important;
}

.pt8 {
  padding-top: 36px !important;
}

.pb8 {
  padding-bottom: 36px !important;
}

.pl9 {
  padding-left: 40.5px !important;
}

.pr9 {
  padding-right: 40.5px !important;
}

.pt9 {
  padding-top: 40.5px !important;
}

.pb9 {
  padding-bottom: 40.5px !important;
}

.pl10 {
  padding-left: 45px !important;
}

.pr10 {
  padding-right: 45px !important;
}

.pt10 {
  padding-top: 45px !important;
}

.pb10 {
  padding-bottom: 45px !important;
}

.bl {
  border-left: 1px solid rgba(0, 0, 0, 0.13);
}

.br {
  border-right: 1px solid rgba(0, 0, 0, 0.13);
}

.bt {
  border-top: 1px solid rgba(0, 0, 0, 0.13);
}

.bb {
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}

.sticky-footer #footer-pusher {
  height: auto;
  min-height: 100%;
}
.sticky-footer #page-footer {
  position: relative;
}

@media screen and (max-width: 769px) {
  .max-50 {
    max-width: 50%;
  }

  .max-40 {
    max-width: 40%;
  }

  .max-30 {
    max-width: 30%;
  }

  .max-20 {
    max-width: 20%;
  }

  .max-10 {
    max-width: 10%;
  }
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  zoom: 1;
  width: 769px;
  padding: 0 18px;
}
.container:before, .container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}

.responsive .container {
  width: auto;
  max-width: 769px;
}
@media screen and (min-width: 769px) and (max-width: 769px) {
  .responsive .container {
    margin: 0;
    padding: 0 20px;
  }
}
@media screen and (max-width: 768px) {
  .responsive .container {
    margin: 0;
    padding: 0 20px;
  }
  .responsive .container figcaption {
    margin: 14px 0;
  }
}

.row {
  zoom: 1;
  margin-left: -10px;
  margin-right: -10px;
}
.row:before, .row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}

@media screen and (max-width: 768px) {
  figcaption {
    width: 100%;
  }

  .responsive .row {
    margin-left: 0;
    margin-right: 0;
  }
}
.field-row {
  zoom: 1;
  margin-left: -10px;
  margin-right: -10px;
}
.field-row:before, .field-row:after {
  content: "";
  display: table;
}
.field-row:after {
  clear: both;
}
.field-row [class*="span"] {
  padding: 0 10px;
}

@media screen and (max-width: 768px) {
  .responsive figcaption {
    width: 100%;
  }
  .responsive .field-row {
    margin-left: 0;
    margin-right: 0;
  }
  .responsive .field-row [class*="span"] {
    padding-left: 0;
    padding-right: 0;
  }
}
[class*="span"] {
  float: left;
  min-height: 1px;
}
[class*="span"]:last-child {
  float: right;
}

@media screen and (max-width: 768px) {
  .responsive [class*="span"] {
    float: none;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.span1 {
  width: 8.33333%;
}

.span2 {
  width: 16.66667%;
}

.span3 {
  width: 25%;
}

.span4 {
  width: 33.33333%;
}

.span5 {
  width: 41.66667%;
}

.span6 {
  width: 50%;
}

.span7 {
  width: 58.33333%;
}

.span8 {
  width: 66.66667%;
}

.span9 {
  width: 75%;
}

.span10 {
  width: 83.33333%;
}

.span11 {
  width: 91.66667%;
}

.span12 {
  width: 100%;
}

header {
  margin-bottom: 36px;
  max-width: 769px;
}

.copyright {
  width: 70%;
  margin-right: 5%;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

body {
  color: #111111;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  font-size-adjust: none;
  line-height: 27px;
}

p,
ol,
ul,
dl,
table,
figure {
  margin: 0 0 18px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: #111111;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  line-height: 1;
  text-rendering: optimizelegibility;
}

h1, h2 {
  margin: 0 0 27px;
}

h1 {
  font-size: 76.24922px;
}

h2 {
  font-size: 47.12461px;
}

h3 {
  font-size: 29.12461px;
}

h4, h5, h6 {
  font-size: 18px;
}

a {
  color: #006699;
  text-decoration: none;
}
a:hover {
  color: #0088cc;
  text-decoration: underline;
}

p a {
  text-decoration: underline;
}

ul, ol {
  padding: 0;
  margin-left: 18px;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

ul ul,
ol ul {
  list-style: circle;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

dl {
  margin: 0 0 18px;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 0 18px;
}

table {
  width: 100%;
}
table th {
  font-weight: bold;
}
table th, table td {
  padding: 9px;
  text-align: left;
}
table th:first-child, table td:first-child {
  padding-left: 0;
}
table th:last-child, table td:last-child {
  padding-right: 0;
}
table .figure {
  text-align: right;
}

::-moz-selection, ::selection {
  background: #ff6600;
  color: black;
  text-shadow: none;
}

h1, h2, h3, h4, h5, ol, ul, code, a, a:visited, .orange {
  color: #cc3300;
}

li span, .black {
  color: #010101;
  font-style: normal;
}

aside {
  background-color: silver;
  padding: 10px;
}

dt {
  margin-top: 18px;
}

dd, .extraleft {
  margin-left: 18px;
}

h1, h2, h3, h4, h5, p, ol, ul, blockquote, q, figure {
  margin-bottom: 18px;
}

footer {
  border-top: 1px solid #010101;
  clear: both;
  margin-bottom: 28px;
  padding-top: 28px;
  text-transform: uppercase;
}

ol, ul {
  margin-left: 54px;
}

ul {
  list-style-type: square;
}

p, ol, ul, blockquote, q {
  line-height: 27px;
  text-align: justify;
}

q {
  display: block;
}

figure {
  overflow: auto;
}
figure img {
  float: left;
  margin-right: 10px;
  max-width: 518px;
}

figcaption {
  float: left;
  width: 27.8%;
}
figcaption h6 {
  font-size: 14px;
  margin-bottom: 14px;
}
figcaption p {
  text-align: left;
}

.italic, em {
  font-style: italic;
}

h6 {
  background-color: black;
  color: white;
  display: inline-block;
  padding: 7px;
}

.h6 {
  border: 1px solid black;
  margin: 0 0 18px 0;
  padding: 18px;
}

.exercise {
  border-bottom: 1px solid #010101;
  border-top: 1px solid #010101;
  margin: 0 0 18px 0;
  padding: 36px 0 0 36px;
}

.doubleextraleft {
  margin-left: 36px;
}

.tripleextraleft {
  margin-left: 54px;
}

.nbsp:before {
  content: "&nbsp;";
}

code {
  text-align: left;
}
