// Body text
// ---------
html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-hyphens: auto; 
	-moz-hyphens: auto; 
	hyphens: auto;
}
body {
	color: $base-font-color;
	font-family: $base-font-family;
	font-size: $base-font-size;
	font-size-adjust: none;
	line-height: $base-line-height;
}
// Standard block-level elements
// -----------------------------
p,
ol,
ul,
dl,
table,
figure {
	margin: 0 0 (4 * $tu);
}
// Headings
// --------
h1, h2, h3, h4, h5, h6 {	
	margin: 0;
	color: $heading-color;
	font-family: $heading-font-family;
	font-weight: $heading-font-weight;
	line-height: 1;
	text-rendering: optimizelegibility; // Fix the character spacing for headings
}
h1, h2 {
	margin: 0 0 (6 * $tu);
}
h1 {
	font-size: $base-font-size*4.23606798; //76.2492236px
}
h2 {
	font-size: $base-font-size*2.61803399; //47.1246118px
}
h3 {
	font-size: $base-font-size*1.61803399; //29.1246118px
}
h4, h5, h6 {
	font-size: $base-font-size; //18px
}
// Links
// -----
a {
	color: $link-color;
	text-decoration: none;
	&:hover {
		color: lighten($link-color, 10%);
		text-decoration: underline;		
	}
}
p a {
	text-decoration: underline;
}
// Lists
// -----
ul, ol {
	padding: 0;
	margin-left: $base-font-size;
}
ul ul,
ul ol,
ol ol,
ol ul {
	margin-bottom: 0;
}
ul ul,
ol ul {
	list-style: circle;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
dl {
	margin: 0 0 $base-font-size;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 0 $base-font-size;
}
// Tables
// ------
table {
	width: 100%;
	th {
		font-weight: bold;
	}
	th, td {
		padding: $base-font-size / 2;
		text-align: left;
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
		}
	}
	.figure {
		text-align: right;
	}
}
// Code
// ----
::-moz-selection, ::selection {
	background: rgb(255,102,0); 
	color: rgb(0,0,0); 
	text-shadow: none;
}
h1, h2, h3, h4, h5, ol, ul, code, a, a:visited, .orange {
	color: rgb(204,51,0);
}
li span, .black {
	color: rgb(1,1,1); 
	font-style: normal;
}
aside {
	background-color: silver; 
	padding: 10px;
}
dt {
	margin-top: $base-font-size;
}	
dd, .extraleft {
	margin-left: $base-font-size;
}
h1, h2, h3, h4, h5, p, ol, ul, blockquote, q, figure {
	margin-bottom: $base-font-size;
}
footer {
	border-top: 1px solid rgb(1,1,1); 
	clear: both; 
	margin-bottom: $small-font-size*2; 
	padding-top: $small-font-size*2; 
	text-transform: uppercase;
}
ol, ul {
	margin-left: $base-font-size*3;
}
ul {
	list-style-type: square;
}
p, ol, ul, blockquote, q {
	line-height: $base-line-height;
	text-align: justify;
}
q {
	display: block;
}
figure {
	overflow: auto;
	img {
		float: left; 
		margin-right: 10px; 
		max-width: 518px;
	}
}
figcaption {
	float: left; 
	width: 27.8%;
	h6 {
		font-size: $small-font-size;
		margin-bottom: $small-font-size;
	}
	p {
		text-align: left;
	}
}
.italic, em {
	font-style: italic;
}
h6 {
	background-color: rgb(0,0,0);
	color: rgb(255,255,255);
	display: inline-block;
	padding: $small-font-size/2;
}
.h6 {
	border: 1px solid rgb(0,0,0); 
	margin: 0 0 $base-font-size 0;
	padding: $base-font-size;
}
.exercise {
	border-bottom: 1px solid rgb(1,1,1);
	border-top: 1px solid rgb(1,1,1);
	margin: 0 0 $base-font-size 0;
	padding: $base-font-size*2 0 0 $base-font-size*2;
}
.doubleextraleft {
	margin-left: $base-font-size*2;
}
.tripleextraleft {
	margin-left: $base-font-size*3;
}
.nbsp:before {
	content: "&nbsp;";
}
code {
	text-align: left;
}